body {
  font-family: "Cabin", "sans-serif";
  background: #eeeeef;
}

.container {
  width: 1296px;
  margin-left: auto;
  margin-right: auto;
}

.header-blue {
  background: #10bbd5;
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu1-content {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
  justify-content: space-between;
}

.page-logo {
  display: flex;
}

.logo-title {
  display: flex;
  color: #f8fdfe;
  font-size: 24px;
  line-height: normal;
}

.logo-link {
  display: flex;
  text-decoration: none;
}

.cart {
  display: flex;
  align-items: center;
  gap: 8px;
}

.total-prise {
  display: flex;
  color: #f8fdfe;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.cart-button {
  width: 40px;
  height: 40px;
  background: #10bbd5;
  background-image: url(../img/cart_icon.png);
  border: none;
  color: #000;
  font-size: 12px;
  line-height: 10px;
  padding: 12px 18px 20px 19px;
}

.header-white {
  background-color: #fff;
  margin-bottom: 32px;
}

.menu2-content {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
  justify-content: space-between;
}

.nav-text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-item {
  display: flex;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.page-title {
  color: #1f1f1f;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 23px;
}

.shop-products {
  display: flex;
  padding-top: 24px;
  border-top: 1px solid #a8a8a8;
  justify-content: center;
  margin-bottom: 120px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 22px;
  row-gap: 32px;
}

.category-container {
  position: absolute;
  display: flex;
  gap: 4px;
}

.category-hit {
  position: relative;
  display: flex;
  border-radius: 4px;
  background: #4200ff;
  padding: 4px 8px;
  color: #f8fdfe;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.category-new {
  position: relative;
  display: flex;
  border-radius: 4px;
  background: #af39e7;
  padding: 4px 8px;
  color: #f8fdfe;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.category-discount {
  position: relative;
  display: flex;
  border-radius: 4px;
  background: #ea33c0;
  padding: 4px 8px;
  color: #f8fdfe;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product-element {
  display: flex;
  flex-direction: column;
  background: #f8fdfe;
  padding: 32px;
  position: relative;
}

.product-link {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.product-image {
  margin-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  width: 178px;
  height: 280px;
}

.product-name {
  border-bottom: 1px solid #a8a8a8;
}

.product-author {
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.price-container {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

.price-1 {
  display: flex;
  color: #e90000;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.price-2 {
  display: flex;
  color: #8e8e8e;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-decoration-line: line-through;
}

.button-add {
  border-radius: 4px;
  background: #4c394e;
  color: #f8fdfe;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 24px 8px 24px;
  border: none;
}

.button-end {
  border-radius: 4px;
  background: #4d762d;
  color: #f8fdfe;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 24px 8px 24px;
  border: none;
}

.purple-footer {
  display: flex;
  height: 88px;
  background: #4c394e;
}

.footer-content {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.copyright {
  display: flex;
  color: #f8fdfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.rights-reserved {
  display: flex;
  color: #f8fdfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.chat-button {
  background-image: url(../img/chat.png);
  background-color: inherit;
  border: none;
  width: 64px;
  height: 64px;
  position: fixed;
  right: 28%;
  top: 68%;
}
